<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name="viewport" content="width=1920" />
    <title>Tizen Svelte App</title>
    <link rel='icon' type='image/png' href='favicon.png'>
    <link rel='stylesheet' href='style.css'>
    <script type="text/javascript" src="$WEBAPIS/webapis/webapis.js"></script>
    <script defer src='tizen-svelte-app.iife.js'></script>
  </head>
  <body></body>
</html>